// Home page styles

// Loop page styles

body#wishlist {
		
	h1#site-heading {
		
		font-weight: 			900;
		text-align: 			left;
		
		line-height: 			1.1 !important;



		@include xs {
			font-size: 			$h1-font-size-base-xs;	
		}
		@include sm {
			font-size: 			$h1-font-size-base-sm;	
		}
		@include md {
			font-size: 			$h1-font-size-base-md;	
		}
		@include lg {
			font-size: 			$h1-font-size-base-lg;	
		}
		@include xl {
			font-size: 			$h1-font-size-base-xl;	
		}
		
	}
	
	section#page-content > section {
		
		@include xs {
			padding-bottom: 	0;
		}
		@include sm {
			padding-bottom: 	0;
		}
		@include md {
			padding-bottom: 	$p-padding-bottom-md * 1.5;
		}
		@include lg {
			padding-bottom: 	$p-padding-bottom-lg * 1.5;
		}
		@include xl {
			padding-bottom: 	$p-padding-bottom-xl * 1.5;
		}
		
		@include clearfix;
		
	}
	
	ul {		
		padding: 			0;
		margin: 			0;
		
		list-style: 		none !important;
		
		li {
			list-style: 	none;
			padding: 		0;
			margin: 		10px 0;
						
			box-sizing: 	border-box;
			
			span.item-name {
				display: 	block;
				float:      none;
				clear:      both;
				min-width: 	100%;
				@include sm-up {
					display: 	inline-block;
					float:		left;
					clear:		none;
					min-width: 	60%;
				}
			}
			aside.item-metadata {
				display: 	block;
				float:		none;
				clear: 		both;
				@include sm-up {
					display: 	inline-block;
					float:		right;
					clear:		none;
				}
				
				
				
			}
			span.item-price {
				margin-left: 20px;
			}
			span.item-giftidea {
				color: $white;
				background: $cyan;
				
				border: 1px solid $cyan;
				border-radius: 6px;
				
				padding: 2px 6px;
				text-transform: uppercase;
				
				&.small-caps {
					position: relative;
					font-variant: small-caps !important;
					font-size: 70%;
					line-height: 1;
					top: -2px;
					vertical-align: middle;
				}
			}
			
			@include clearfix;
		}
	}
					
	
	
}